body {
  font-family: 'PT Sans', sans-serif;
  font-size: $fs-base;
}
h1 {
  font-size: $fs-h1;
  font-weight: bold;
}
h2 {
  font-size: $fs-h2;
  font-weight: bold;
}
h3 {
  font-size: $fs-h3;
  //font-weight: bold;
}
p {
  font-size: $fs-p;
}
a {
  text-decoration: none;
}

.owl-theme .owl-nav {
  display: none;
}
.owl-theme .owl-dots .owl-dot span {
  width: 14px;
  height: 14px;
}
.owl-theme .owl-dots{
  margin-bottom: 37px;
}

