

// Semitransparent white


// Semitransparent black

// Brand colors
$white: #fff;
$black: #000;
$grey: #888;;
$grin:#ffa351;
$ye: #fbdb00;

// Background colors
$color-bgr-form-find: #ffa505;

// Font colors

// Special colors

// Shadow colors
