// Font-family
//$source-sans-pro: "Source Sans Pro", sans-serif;
//$verdana: "Verdana", sans-serif;
//$font-family-base: $source-sans-pro;// for mixin _reset-text
// Set variables for font faces here

// Letter spacing

// Line height


// Font size
$fs-base: 16px;
// 11px

// 12px

// 14px

// 16px
$fs-p: 16px;
// 18px

// 20px

$fs-h3: 20px;
// 22px
$fs-nav: 22px;
$fs-h2: 22px;
// 24px

// 32px
$fs-h1: 32px;